<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add cycle</title>
</head>

<body>
  <div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="brand">Brand</label>
          <input type="text" [(ngModel)]="cycle.brand" class="form-control" id="brand" name="brand"
            placeholder="Enter your brand" required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Brand Name is required</div>
        <div class="form-group">
          <label for="isAvailable">isAvailable no</label>
          <input type="text" [(ngModel)]="cycle.availableCycles" class="form-control" id="availableCycles" name="availableCycles"
            placeholder="Enter your number" required #email="ngModel">
          <div [hidden]="!email.pristine" class="alert alert-danger">Number is required</div>
        </div>
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>

</body>

</html>
